<p id="notice"><%= notice %></p>

<h1>Contests</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Leader</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contests.where(parent_id: nil).each do |contest| %>
      <tr>
        <%= render contest%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contest', new_contest_path %>
