<%= form_for [@contest, @item, vote] do |f| %>
  <li><%= vote.created_at %>
    <%= link_to 'Delete', contest_item_vote_path(@contest, @item, vote), method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
<% end %>